.swiper-auto-width {
  .swiper-slide {
    width: auto !important;
  }
}
/*swiper-pagination-custom*/
.swiper-pagination-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  height:20px;
  margin-top: 20px;
  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &::after {
      content:'';
      width: 6px;
      height: 6px;
      background-color: $gray;
      border-radius: 50%;
    }
    &.swiper-pagination-bullet-active::after {
      background-color: $green;
    }
  }
}
.swiper-pagination-hover-target{
  display: flex;
  align-items: center;
  justify-content: center;
  height:10px;
  position: absolute;
  bottom:10px;
  left:50%;
  transform: translateX(-50%);
  z-index: 9;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &::after {
      content:'';
      width: 6px;
      height: 6px;
      background-color: $white;
      border-radius: 50%;
      opacity: 0.6;
    }
    &.swiper-pagination-bullet-active::after {
      opacity: 1;
    }
  }
}
.swiper-full-height-container {
  .swiper-container {
    height: auto !important;
    overflow: initial !important;
    position: initial !important;
    .swiper-slide {
      height: initial;
    }
  }
}
.swiper-overflow-none {
  .swiper-container {
    overflow: initial !important;
    &::before{
      left:0;
      transform: translateX(-100%);
    }
    &::after{
      right:0;
      transform: translateX(100%);
    }
    &::before,
    &::after{
      content: '';
      top:80px;
      width: 100vw;
      height: calc(100% - 80px);
      background-image: linear-gradient(90deg, rgba(255,255,255,0.25),rgba(255,255,255,0.25));
      box-shadow: 0 0 30px rgba(255,255,255,0.5);
      position: absolute;
      z-index: 2;
    }
  }
}
/*detailed-swiper*/
.detailed-swiper-shadow {
  &:after {
      content: " ";
      position: absolute;
      width: 100%;
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 14px;
      bottom: 0; 
      z-index: 1;
      height: 80px;
      background-image: linear-gradient(to bottom, rgba(24, 26, 38, 0), rgba(24, 26, 38, 0.75));
  }
}

.detailed-buttons {
  button {
      transform: translateY(-50%);
  }
}

.detailed-thumbs {
  .swiper-wrapper {
      padding: 7px;
  }
  .swiper-slide {
      &.active {
          position: relative;
          &::after {
              width: 100%;
              left: -7px;
              top: -7px;
              height: 100%;
              opacity: 0.7;
              border-radius: 10px;
              padding: 7px;
              box-sizing: content-box;
              content: "";
              position: absolute;
              z-index: 2;
              background-color: rgba(0, 0, 0, 0.8);
          }
          span {
              position: absolute;
              opacity: 1 !important;
              max-width: 100%;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              top: 50%;
              white-space: nowrap;
              font-family: $font-family-bold-caps;
              font-size: 16px !important;
              letter-spacing: 0.49px;
              z-index: 10;
              margin-top: 0 !important;
              left: 50%;
              transform: translate(-50%, -50%);
          }
      }
  }
}